modette.ui.forms:
	send:		'Odeslat'
	protection:  'Platnost formuláře vypršela, prosím zkuste to znovu.'
	equal:	   'Prosím vložte %s.'
	notEqual:	'Tato hodnota není totožná s %s.'
	filled:	  'Tato položka je povinná.'
	blank:	   'Tato položka by měla být prázdná.'
	minLength:   'Minimální délka tohoto pole je %d znaků.'
	maxLength:   'Maximální délka tohoto pole je %d znaků.'
	length:	  'Prosím vložte hodnotu mezi %d a %d.'
	email:	   'Vložte prosím platnou e-mailovou adresu.'
	url:		 'Vložte prosím platnou URL adresu.'
	integer:	 'Vložte prosím celé číslo.'
	float:	   'Vložte prosím číslo.'
	min:		 'Vložte prosím hodnotu stejnou nebo větší než %d.'
	max:		 'Vložte prosím hodnotu stejnou nebo menší než %d.'
	range:	   'Vložte hodnotu v rozmezí %d a %d.'
	maxFileSize: 'Maximální povolená velikost souborů je %d bytů.'
	maxPostSize: 'Maximální povolená velikost formuláře je %d bytů.'
	mimeType:	'Tento soubor není v očekávaném formátu.'
	image:	   'Nahraný soubor musí být ve formátu jpg, png, gif.'
	select:	  'Prosím vyberte platnou hodnotu.'
	upload:	  'Nastala chyba během nahrávání souboru.'
